
  
    .cube-details-hebergements {
      min-height: 150px;
    }
    .size-hebergements {
      min-height: auto;
      padding: 20px;
    }
    .size-populaires {
      min-height: auto;
      padding: 20px;
    }
    .tablette-size-titre-pop {
      margin-top: 0;
    }
  }
  
    html,
    body {
      margin: 0;
      padding: 0;
    }
  }
  